
h1 {
	background-color:Black;
	color:green;
	padding:10px;
	text-align:center;
	font-weight: bold;
	font-size: 35px;
}

#main 
{
  border-style: solid;	
  height:300px;
  width:250px;
  padding-left:2%;
  padding-right:2%;
  margin-left:40%;
}

label {
	font-weight: bold;
	
}

#user_lgn
{
	border-style: solid;	
	text-align:center;
	background-color:Green;
	color:white;
	padding:1%;
}

#submit
{
	background-color:Green;
	margin-left:20%;
	font-weight: bold;
	padding:2%;
	width:100px;
	color:white;
	
}

